.holder {
  width: 100%;
  /* margin: 0 auto; */
  /* height: 2012px; */
}
.holder > img {
  width: 1906px;
  height: 2012px;
}
@media (max-width: 480px) {
  .holder > img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
}
