@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
body {
  background: #f2f2f2;
  background-image: url("../img/uni.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
nav {
  background: #171c24;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 100px;
}
nav .logo {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}
.logo-img {
  width: 60px;
  height: 60px;
  margin-left: 10px;
}
nav .nav-items {
  display: flex;
  flex-direction: row-reverse;
  flex: 1;
  padding: 0 0 0 40px;
}
nav .nav-items li {
  list-style: none;
  padding: 0 15px;
}
nav .nav-items li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
nav .nav-items li a:hover {
  color: #ff3d00;
}
nav .nav-items li a:first-child {
  margin-right: 30px;
}
nav form {
  display: flex;
  flex-direction: column;
  height: 40px;
  padding: 2px;
  background: #1e232b;
  min-width: 18% !important;
  border-radius: 5px;
  border: 1px solid rgba(155, 155, 155, 0.2);
}
nav form .search-container {
  display: flex;
  height: 40vh;
  /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12); */
}
nav form .search-data {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #fff;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
  text-align: right;
}
nav form .search-data:focus {
  outline: red 1.5px solid;
}
nav form .results-box {
  z-index: 10;
  width: 100%;
  color: #fff;
  border-top: #eee;
  padding: 10px 8px;
  height: 280px;
  margin: 20px 0 0 2px;
  border-radius: 6px;
  background-color: #333;
  display: none;
}
nav form .results-box.active {
  display: block;
}
nav form .results-box div {
  width: 100%;
  max-height: 240px;
  overflow-y: scroll;
  opacity: 0;
  pointer-events: none;
  display: none;
}
nav form .results-box div::-webkit-scrollbar {
  display: none;
}
nav form .results-box div.active {
  opacity: 1;
  pointer-events: all;
  display: block;
}
nav form .results-box li {
  list-style: none;
  padding: 8px 12px;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  text-align: right;
}
nav form .results-box li:hover {
  background-color: #efefef;
  cursor: pointer;
  color: #333;
}
/* nav form .results-box li:hover a {
  color: #333;
} */
nav form button {
  padding: 0 15px;
  color: #fff;
  font-size: 17px;
  background: #ff3d00;
  border: none;
  border-radius: 6px;
  height: 34px;
  cursor: pointer;
}
nav form button:hover {
  background: #e63600;
}
nav .menu-icon,
nav .cancel-icon,
nav .search-icon {
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon {
  display: none;
}
@media (max-width: 1245px) {
  nav {
    padding: 0 50px;
  }
}
@media (max-width: 1140px) {
  nav {
    padding: 0px;
  }
  nav .logo {
    flex: 2;
    text-align: center;
  }
  nav .logo-img {
    position: absolute;
    right: 50%;
    margin: 0;
    transform: translateX(50%);
  }
  nav .nav-items {
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: #14181f;
    display: flex;
    flex-direction: column;
    transition: left 0.3s ease;
  }
  nav .nav-items.active {
    left: 0px;
  }
  nav .nav-items li {
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a {
    font-size: 20px;
  }
  nav .nav-items li a:first-child {
    margin-right: 0px;
  }
  nav form {
    position: absolute;
    top: 80px;
    left: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  nav form.active {
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }
  nav form .results-box {
    padding: 10px 8px;
    margin: 8px 0 0 2px;
  }
  nav form:before {
    position: absolute;
    content: "";
    top: -13px;
    left: 0px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: #1e232b;
    margin: -20px 0 0;
  }
  nav form:after {
    position: absolute;
    content: "";
    height: 40px;
    padding: 2px;
    background: #1e232b;
    border-radius: 6px;
    min-width: calc(100%);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  nav .menu-icon {
    display: block;
  }
  nav .search-icon,
  nav .menu-icon span {
    display: block;
  }
  nav .menu-icon span.hide,
  nav .search-icon.hide {
    display: none;
  }
  nav .cancel-icon.show {
    display: block;
  }
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.content header {
  font-size: 30px;
  font-weight: 700;
}
.content .text {
  font-size: 30px;
  font-weight: 700;
}
.space {
  margin: 10px 0;
  color: #fff;
}
nav .logo.space {
  color: red;
  padding: 0 5px 0 0;
}
@media (max-width: 980px) {
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon {
    margin: 0 20px;
  }
  nav form {
    left: 30px;
  }
}
@media (max-width: 450px) {
  .content .space {
    margin: 10px 0;
    font-size: 20px;
  }
}
@media (max-width: 350px) {
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon {
    margin: 0 10px;
    font-size: 16px;
  }
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content header {
  font-size: 30px;
  font-weight: 700;
}
.content .text {
  font-size: 30px;
  font-weight: 700;
}
